server:
  port: 8086

spring:
  application:
    name: reporter-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.pma.reporter.client: DEBUG
    com.pma.reporter.service: INFO
    com.pma.reporter.controller: WARN
